.home {
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    background-color: #eee;
    padding: 50px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
}

.repair-images {
    margin: 20px 0;
}

.about {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 6rem;
    border-radius: 8px;
}

.about h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.about p {
    font-size: 1em;
    line-height: 1.6;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2em;
    }

    .hero p {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 1.5em;
    }

    .hero p {
        font-size: 0.9em;
    }

    .about h2 {
        font-size: 1.5em;
    }

    .about p {
        font-size: 0.9em;
    }
}
